* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#root,
body {
  width: calc(100vw);
  height: calc(100vh);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #292929;
}